<div *ngIf="film">
  <div class="FilmTitle">
    <h1>
      {{ film.titre }}
    </h1>
  </div>
  <div class="FilmDetail">
    <p>
      année: {{ getAnnee(film.dateProduction) }} durée: {{ film.duree }} minutes
      <br />
      genre: {{ film.genre }}
    </p>
  </div>
  <div>
    <button
      *ngIf="activeUser != null && activeUser.membre"
      [routerLink]="['/ecouter', film.numero]"
    >
      écouter film
    </button>
  </div>
  <div>
    <h3>Distribution</h3>
    <table id="ht" align="center" border="1" width="350">
      <thead>
        <th>Role</th>
        <th>Nom</th>
        <th>Salaire</th>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>{{ role.role }}</td>
          <td>{{ role.nom }}</td>
          <td>{{ role.salaire }} $</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>Oscars</h3>
    <table id="ht" align="center" border="1" width="350">
      <thead>
        <th>Année</th>
        <th>Categorie</th>
        <th>Résultat</th>
      </thead>
      <tbody>
        <tr *ngFor="let oscar of oscars">
          <td>{{ getAnnee(oscar.dateOscar) }}</td>
          <td>{{ oscar.categorie }}</td>
          <td>{{ oscar.issue }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
